# Build results
bin/
obj/
out/
Debug/
Release/

# Visual Studio files
.vs/
*.user
*.suo

# Rider IDE
.idea/
*.iml

# ASP.NET Core publish output
wwwroot/dist/
wwwroot/lib/
publish/
*.pubxml
*.pubxml.user

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/

# Other
*.tmp
*.cache
*.dbmdl
*.jfm
*.pdb

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Entity Framework
Migrations/obj/

# Mac/Linux system files
.DS_Store
Thumbs.db
