@model Gym.BLL.ModelVM.Member.AddMemberVM
@{
    ViewData["Title"] = "Create Member";
    Layout = "~/Views/Shared/_AdminDashboardCRUD.cshtml";
}
<style>
    .custom-btn {
    transition: background-color 0.3s ease;
    }
    .custom-btn:hover {
    background-color: #970101 !important;
    border-color: #970101 !important;
    }
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Members</h1>
    <a asp-controller="AdminMember" asp-action="Index" class="custom-btn d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-arrow-left fa-sm text-white-50"></i>
    Back
    </a>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add Member</h6>
            </div>
            <div class="card-body">
                <form class="col-12" asp-action="Create" asp-controller="AdminMember" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="FisrtName" class="control-label"></label>
                            <input asp-for="FisrtName" class="form-control" />
                            <span asp-validation-for="FisrtName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="confirmPassword" class="control-label"></label>
                            <input asp-for="confirmPassword" class="form-control" />
                            <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label  asp-for="Gender" class="control-label d-block"></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="Male" id="genderMale">
                                    <label class="form-check-label" for="genderMale">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="Female" id="genderFemale">
                                    <label class="form-check-label" for="genderFemale" >Female</label>
                                </div>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="custom-btn btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}