@{
    ViewData["Title"] = "Email Sent";
    Layout = null;
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Email Send</h2>
        <p class="text-center">A verification email has been sent to your email address. Please check your inbox </p>
        <div class="text-center mt-2">
            <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-2">Back To Login</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
